- content_for :title do 
  Financial Services &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    Financial Services
  %img{:src => "/images/insight.png", :class => "img-right", :alt => "work thumb"}
%p
  Financial Services is a leading provider of financial solutions for the millions of overlooked consumers who lack a traditional bank account. It provides consumers with a broad spectrum of products and services that address the reality of their financial lives. The company’s financial literacy tools equip cardholders to successfully manage money while empowering them to take control of their financial lives.
%p
  Having architected, developed, and maintained one of the largest Ruby based financial applications in the world, we are confident that Isotope|eleven is uniquely placed to develop your next financial product. Our software regularly handles hundreds of millions of dollars, reliably, for our clients and their clients. Dealing with PCI compliance, and reducing mountains of data into useable reports doesn’t have to be a daunting task. We are experts at developing financial applications.


%p
  %a{:href => "/services"}
    Back to Services
