- content_for :title do 
  Financial &ndash; Services &ndash; Isotope|eleven

#internal-title	
  %h2{:class => "typeface-js"}
    Services 
.work_content_right
  = image_tag '/images/financial.png', :alt => 'Financial Image'
  %h4 Financial 
  .clear
  %ul
    %li APIs that operate well under heavy load
    %li PCI and regulatory compliance
    %li Experience with ISO8583 Messages
    %li Applications handling over a billion dollars of transactions
    %li Credit and Overdraft Protection products built from scratch
    %li Experience with ACH / NACHA
    %li Automated Trading Platforms and Algorithms
.work_content_left
  %h3{:class => "typeface-js"}
    Financial 

  %p
    Having architected, developed, and maintained one of the largest Ruby based financial applications in the world, we are confident that Isotope|eleven is uniquely placed to develop your next financial product. Our software regularly handles hundreds of millions of dollars, reliably, for our clients and their clients. Dealing with PCI compliance, and reducing mountains of data into useable reports doesn’t have to be a daunting task. We are experts at developing financial applications.

%p
  = link_to 'Back to Services', '/services'
.clear
.work_examples
  = image_tag 'financial_services.png'
  .work_examples_content
    %h3 Finn Co. 
    %p
      Finn Co. is a leading provider of financial solutions for the millions of overlooked consumers who lack a traditional bank account. It provides consumers with a broad spectrum of products and services that address the reality of their financial lives. The company’s financial literacy tools equip cardholders to successfully manage money while empowering them to take control of their financial lives.
  .clear



