- content_for :title do
  Insurance &ndash; Services &ndash; Isotope|eleven

#internal-title	
  %h2{:class => "typeface-js"}
    Services 
.work_content_right
  %img{:src => "/images/insurance.png", :alt => "work thumb"}
  %h4 Insurance 
  .clear
  %ul
    %li Geo-location based rate calculations
    %li Secure rate quote request forms
    %li Integration with external providers
    %li Risk-group based calculations
    %li Porting of legacy applications
    %li Complex claims processing systems

.work_content_left
  %h3{:class => "typeface-js"}
    Insurance 
%p
  Many factors go into a successful insurance quote, from location based information such as distance for fire hydrants and other emergency services, to calculating flood planes, or on demand credit inquiries. Isotope|eleven has extensive experience in writing custom web applications for insurance companies and cooperatives.
%p
  %a{:href => "/services"}
    Back to Services

