- content_for :title do
  RubyHam &ndash; Community &ndash; Isotope|eleven

#internal-title	
  %h2{:class => "typeface-js"}
    Work
.work_content_right
  %img{:src => "/images/rubyham.png", :alt => "work thumb"}
  %h4 RubyHam 
  .clear
  %ul 
    %li
      Monthly meetings (with pizza) sponsored by 
      %a{:href => "http://www.meetup.com/rubyham/", :target => "_blank"}
        Isotope|eleven
    %li 
      Discussion group on 
      %a{:href => "http://tech.groups.yahoo.com/group/rubyham/", :target => "_blank"}
        Yahoo 
    %li
      IRC Channel on Freenode #rubyham 
    %li
      Founded in 2005 

.work_content_left
  %h3{:class => "typeface-js"}
    RubyHam 
  %p
    Hosted at the Isotope|eleven office, the monthly meeting (usually on the last Wednesday of each month) offers Birmingham area Ruby professionals and enthusiasts a chance to catch up with other like-minded individuals and also expand your skill set. Don't worry though, you don't need to be a Ruby master to be able to learn a little and get more familiarized with the language.  
  %p
    %a{:href => "/home/community"}
      Back to Community 
.clear


