- if current_user
  %h2 User List
  - @users.each do |user|
    %div
      .profile-pic
        = link_to image_tag("/images/about_#{user.first_name}_#{user.last_name}.png"), user_path(user)
        %p= user.name
