= javascript_include_tag 'greyscalebasic_regular.typeface.js'
= javascript_include_tag 'jquery.js'
= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'
= yield :javascripts



