= javascript_include_tag 'typeface', 'greyscalebasic_regular.typeface', 'verdana_regular.typeface'
= yield :javascripts
%script{:type => "text/javascript", :charset => "utf-8"} 
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  var _siteRoot='index.html',_root='index.html';
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  try { var pageTracker = _gat._getTracker("UA-3168015-2");
  pageTracker._trackPageview(); } catch(err) {}
  / initialize typeface to stop ie7 flicker
  _typeface_js.initialize();
