%meta{:name => "keywords", :content => "Isotope, Isotope11, Isotope Eleven, internet, Laird Foret, software, custom software, Birmingham, custom software birmingham, alabama, custom development birmingham, consulting, Ruby development, Ruby on Rails development, rails development, linux, technology firm"}
%meta{:name => "description", :content => "Isotope11 specializes in custom software development on Linux based platforms using Ruby on Rails (RoR). Our expert skill sets also include e-commerce and financial applications, social networking applications, database architectures, graphic design, user interfaces, multilevel marketing systems and much more."}
%meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}
%link{:rel => "shortcut icon", :href => "/favicon.ico"}
