- content_for :title do
  Careers &ndash; Isotope|eleven
 
#internal-title	
  %h2{:class => "typeface-js"}
    Careers

%h5
  RoR Developer

%ul.career
  %li * Rails / Ruby 
  %li * Linux 
  %li * Test Driven Development 
  %li * Web based Development 
  %li * Python 
  %li * MySQL 
  %li * HTML, CSS 
  %li * Deployment protocols 
  %li * Chef
  %li * Experience with version control systems (SVN, GIT, etc) 

%p Great easy going workplace environment and compensation package!!! 
%p We do have full benefits including health, life, short and long term disability. Sick and vacation paid time. 
%p We also have very aggressive profit sharing, bonus and commission structures in place.. We all share in our success!! 
%p
  Please email resumes and/or portfolios to 
  %a{:href => "mailto:info@isotope11.com"}
    info@isotope11.com

