- content_for :title do
  Community &ndash; Isotope11

#internal-title
  %h2.typeface-js 
    Community
  %p
    When we're not constantly churning out work, we like to pick up and try out new development technologies and further hone our skills and also give back t the great Ruby community by hosting monthly meetings (we have pizza too!). The meetings give many of us here a chance to further research interesting topics and present to and discuss with other Ruby enthusiasts. 
%hr

.work_services_wrap
  %a{:href => "/services/xrono", :class => "services_link"}
    Xrono 
  .work_services_img
    %a{:href => "/services/xrono"}
      = image_tag 'feature_xrono.png'
  .work_services_text
    %h4{:class => "typeface-js"}
      %a{:href => "/services/xrono"}
        Xrono 
    %a{:href => "/services/xrono"}
      Track your companies time and profitability with our open source project, Xrono  

.work_services_wrap
  %a{:href => "/services/rubyham", :class => "services_link"}
    RubyHam 
  .work_services_img
    %a{:href => "/services/rubyham"}
      = image_tag 'feature_rubyham.png'
  .work_services_text  
    %h4{:class => "typeface-js"} 
      %a{:href => "/services/rubyham"}
        RubyHam 
    %a{:href => "/services/rubyham"}
      Meet and learn with other Ruby professionals and enthusiasts in the greater Birmingham area. 


