- content_for :title do
  Isotope11

#project-top
  &nbsp;
#content-wrap
  #content-home
    #project-slider
      .feature-wrap
        .feature
          .feature_title
            %h3 Phase Zero
            =# image_tag 'feature_mlm.png'
          %p Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project. Before coding ever begins, we create a realistic specification to guide your technological development. Through a series of short, intense sessions we build user stories and mockups for your entire application. This keeps development costs down, and encourages the entire development process to remain agile.
        .feature
          .feature_title
            %h3 E-commerce
            = image_tag 'feature_ecom.png'
          %p 
            Ready to get your business online, and move beyond a basic webpage? We leverage proven open source tools such as
            = link_to 'Spree', 'http://spreecommerce.com/' 
            to provide a complete solution for your online sales needs. It is easily extensible and can be customized to not only have the look and feel your customers demand, but the features and reporting that you need to grow your business, all in an easy to use package.
        .feature
          .feature_title
            %h3 Social Media
            = image_tag 'feature_social.png'
          %p
            Lorem mammasay mammasa mamma oo sa dolizzle shiz pot, dope adipiscing elizzle. Nullizzle bow wow wow boom shackalack, things pizzle, suscipizzle we gonna chung, 
            %a{:href => "/"}
              ravida vizzle, arcu. 
            Pellentesque get down get down tortor. Sed fizzle. Go to hizzle izzle dolor dapibus uhuh ... yih! fo shizzle break it down. Boofron crazy pot izzle turpizzle. 
        .feature-last
          .feature_title
            %h3 MLM
            = image_tag 'feature_mlm.png'
          %p
            Lorem mammasay mammasa mamma oo sa dolizzle shiz pot, dope adipiscing elizzle. Nullizzle bow wow wow boom shackalack, things pizzle, suscipizzle we gonna chung, gravida vizzle, arcu. Pellentesque get down get down tortor.
          %p 
            Sed fizzle. Go to hizzle izzle dolor dapibus uhuh ... yih! fo shizzle break it down. Boofron crazy pot izzle turpizzle. 
    <!--content featured gallery here -->
    <script type="text/javascript">
    if(!window.slider) var slider={};slider.data=[{"id":"slide-img-1","client":"Financial Services","desc":""},{"id":"slide-img-3","client":"AIUA","desc":""},{"id":"slide-img-4","client":"Sportgraphics","desc":""}];
    </script>
