- content_for :title do
  Isotope11

#project-top
  &nbsp;
#content-wrap
  #content-home
    #project-slider
      .feature-wrap
        .feature
          .feature_title
            %h3 Phase Zero
            =# image_tag 'feature_mlm.png'
          %p Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project. Before coding ever begins, we create a realistic specification to guide your technological development. Through a series of short, intense sessions we build user stories and mockups for your entire application. This keeps development costs down, and encourages the entire development process to remain agile.
        .feature
          .feature_title
            %h3 E-commerce
            = image_tag 'feature_ecom.png'
          %p 
            Ready to get your business online, and move beyond a basic webpage? We leverage proven open source tools such as
            = link_to 'Spree', 'http://spreecommerce.com/' 
            to provide a complete solution for your online sales needs. It is easily extensible and can be customized to not only have the look and feel your customers demand, but the features and reporting that you need to grow your business, all in an easy to use package.
        .feature
          .feature_title
            %h3 Social Media
            = image_tag 'feature_social.png'
          %p Social Media is all the buzz, whether you would like an application that has Twitter, Facebook and texting components, or a social network built from the ground up, we have the experience and expertise to deliver your project on time and on budget. Developing a social network is only the first step, deploying and maintaining the project such that it is usable by a large network of users is entirely separate challenge, and we excel at that.
        .feature-last
          .feature_title
            %h3 MLM
            = image_tag 'feature_mlm.png'
          %p We have a complete multi-level marketing solution which has the following features: Accounts, upline direct and generation based payments and bonuses, integration with third party vendors, points and position systems with full up and down line calculations, administrative and representative based reporting, replicated websites, editable marketing and video based training, genealogy reporting.
        .feature
          .feature_title
            %h3 Financial
            =# image_tag 'feature_mlm.png'
          %p Having architected, developed, and maintained one of the largest ruby based financial applications in the world, we are confident that Isotope|eleven is uniquely placed to develop your next financial product. Our software regularly handles hundreds of millions of dollars, reliably, for our clients and their clients. Dealing with PCI compliance, and reducing mountains of data into useable reports doesn’t have to be a daunting task. We are experts at developing financial applications.
        .feature
          .feature_title
            %h3 Insurance
            =# image_tag 'feature_ecom.png'
          %p Many factors go into a successful insurance quote, from location based information such as distance for fire hydrants and other emergency services, to calculating flood planes, or on demand credit inquiries. Isotope11 has extensive experience in writing custom web applications for insurance companies and cooperatives.
        .feature
          .feature_title
            %h3 Mobile
            =# image_tag 'feature_social.png'
          %p Good mobile applications are much more than a basic iPhone app. They need integration with the cloud so that users may share their location, and interact in real time with other users of the platform. Writing web services that will be compatible across all clients including iPhone, Android, Blackberry, and HTML5 based mobile clients is important, so that your users are not locked into a single platform as the mobile landscape evolves.
        .feature-last
          .feature_title
            %h3 SaaS
            =# image_tag 'feature_mlm.png'
          %p Software as a service isn't just about re-occurring revenue, its about delivering highly available internet-enabled applications to your customers. Uptime is important, and so is having the information you need to grow your business. We write highly scaleable cloud back applications that grow as you need them, this saves you overhead and lessens the pain of scaling. When your customers' businesses depend on your services, you can depend on Isotope|eleven.