- content_for :title do 
  Financial &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    Work 
.work_content_right
  %img{:src => "/images/financial.png", :alt => "work thumb"} 
  %h4 Financial 
  .clear
  %ul 
    %li Lorizzle break it down
    %li Dolizzle sit amizzle bling bling 
    %li Nullam sapien velizzle
    %li Alquel volupet suscipizzle fo
    %li shizzle, owned vet izzle
    %li Gizzle bow wow wow tortor sizzle eros
.work_content_left
  %h3{:class => "typeface-js"}
    Financial 

  %p
    Having architected, developed, and maintained one of the largest ruby based financial applications in the world, we are confident that Isotope|eleven is uniquely placed to develop your next financial product. Our software regularly handles hundreds of millions of dollars, reliably, for our clients and their clients. Dealing with PCI compliance, and reducing mountains of data into useable reports doesn’t have to be a daunting task. We are experts at developing financial applications.

%p
  %a{:href => "/work"}
    Back to Work
