- content_for :title do
  MLM &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    Work 
.work_content_right
  %img{:src => "/images/mlm.png", :alt => "work thumb"}
  %h4 MLM 
  .clear
  %ul 
    %li Lorizzle break it down
    %li Dolizzle sit amizzle bling bling 
    %li Nullam sapien velizzle
    %li Alquel volupet suscipizzle fo
    %li shizzle, owned vet izzle
    %li Gizzle bow wow wow tortor sizzle eros

 
.work_content_left
  %h3{:class => "typeface-js"}
    MLM 
  %p
    We have a complete multi-level marketing solution which has the following features: Accounts, upline direct and generation based payments and bonuses, integration with third party vendors, points and position systems with full up and down line calculations, administrative and representative based reporting, replicated websites, editable marketing and video based training, genealogy reporting.  
  %p
    %a{:href => "/work"}
      Back to Work

