- content_for :title do
  Mobile &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    Work 
.work_content_right
  %img{:src => "/images/sportgraphics.png", :class => "img-right", :alt => "work thumb"} 
.work_content_left
  %h3{:class => "typeface-js"}
    Mobile 
%p
  Good mobile applications are much more than a basic iPhone app. They need integration with the cloud so that users may share their location, and interact in real time with other users of the platform. Writing web services that will be compatible across all clients including iPhone, Android, Blackberry, and HTML5 based mobile clients is important, so that your users are not locked into a single platform as the mobile landscape evolves.
%p
  %a{:href => "/work"}
    Back to Work

