- content_for :title do
  Phase Zero &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    Work
.work_content_right
  %img{:src => "/images/phase_zero.png", :alt => "work thumb"} 
  %h4 Phase Zero 
  .clear
  %ul 
    %li
      Executable user stories with Cucumber
    %li 
      Mockups with Balsamiq
    %li
      Full visual design 
    %li
      Complete application specification document
.work_content_left
  %h3{:class => "typeface-js"}
    Phase Zero
  %p
    Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project. Before coding ever begins, we create a realistic specification to guide your technological development. Through a series of short, intense sessions we build user stories and mockups for your entire application. This keeps development costs down, and encourages the entire development process to remain agile.
    
  %p
    %a{:href => "/work"}
      Back to Work
.clear


