- content_for :title do
  SaaS &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    Work
.work_content_right
  %img{:src => "/images/sportgraphics.png", :class => "img-right", :alt => "work thumb"} 
.work_content_left
  %h3{:class => "typeface-js"}
    SaaS 
%p
  Software as a service isn't just about re-occurring revenue, its about delivering highly available internet-enabled applications to your customers. Uptime is important, and so is having the information you need to grow your business. We write highly scaleable cloud back applications that grow as you need them, this saves you overhead and lessens the pain of scaling. When your customers' businesses depend on your services, you can depend on Isotope|eleven.
%p
  %a{:href => "/work"}
    Back to Work

