- content_for :title do
  Social Media &ndash; Work &ndash; Isotope11

#internal-title	
  %h2{:class => "typeface-js"}
    Work
.work_content_right
  %img{:src => "/images/social_media.png", :alt => "work thumb"} 
  %h4 Social Media
  .clear
  %ul 
    %li Lorizzle break it down
    %li Dolizzle sit amizzle bling bling 
    %li Nullam sapien velizzle
    %li Alquel volupet suscipizzle fo
    %li shizzle, owned vet izzle
    %li Gizzle bow wow wow tortor sizzle eros
.work_content_left
  %h3{:class => "typeface-js"}
    Social Media 
%p
  Social Media is all the buzz, whether you would like an application that has Twitter, Facebook and texting components, or a social network built from the ground up, we have the experience and expertise to deliver your project on time and on budget. Developing a social network is only the first step, deploying and maintaining the project such that it is usable by a large network of users is entirely separate challenge, and we excel at that.  
%p
  %a{:href => "/work"}
    Back to Work
.clear
.work_examples
  = image_tag 'luvnotes.png'
  .work_examples_content
    %h3 LuvNotes
    %p 
      Welcome to Luvnotes, the all-occasion card application! Now you can send tasteful and personalized cards to either individuals or groups, or use our RSVP feature to set up a party! Send a congratulations card to a friend, announce an engagement, or greet someone on their birthday. Your friends will appreciate receiving a beautiful card personalized with your own message-your message, your way!
  .clear
.work_examples
  = image_tag 'colleague.png'
  .work_examples_content
    %h3 aColleague
    %p
      aColleague.com does something outrageous. We've made professional placement *advertiser-supported*. Advertisers pay us. Dental professionals do not. There IS no catch. Find a job. Fill a job. Or sell a practice. No charge, ever. All staff. All positions. All specialties. The U.S. and Canada. It's all about search. Search for the perfect job, employee, practice for sale, or old and new colleagues. If your search does not produce an instant match, create an 'alert'. Dentistry's best search engine will remain perpetually vigilant, always watchful, ready to email you the moment there IS a perfect match. The question is when, *not if*, we'll find who, or what you're looking for. 
  .clear


