.profile
  %h3
    Laird Foret
  %h5
    Principal
  %p
    Laird Foret  Founder and CEO  Laird Foret has over 22 years of experience in the IT industry and is responsible for the day-to-day operations and administration of isotope11, inc.  Prior to founding isotope11 in 2005, he started and ran many various companies and considers himself a serial entrepreneur. He graduated from Millsaps College in Computer Science and has a minor in accounting.</p>
.profile-pic
  %img{ :src => "/images/about_laird_foret.png", :alt => "Laird Foret"}
