- content_for :title do
  TechBirmingham &ndash; Community &ndash; Isotope|eleven

#internal-title	
  %h2{:class => "typeface-js"}
    Community 
.work_content_right
  = image_tag '/images/techbirmingham_community.png', :alt => 'TechBirmingham'
.work_content_left
  %h3{:class => "typeface-js"}
    TechBirmingham 
  %p
    = link_to('TechBirmingham', 'http://www.techbirmingham.com')
    is a local group that brings together the tech community to inspire and encourage the expansion of technology businesses in the Birmingham area. The goals are to help establish Birmingham as a central hub for technology and business here in the southeast of the nation.
  %p
    = link_to 'Back to Community', '/community'
.clear
