- content_for :title do
  Xrono &ndash; Community &ndash; Isotope|eleven

#internal-title	
  %h2{:class => "typeface-js"}
    Community 
.work_content_right
  %img{:src => "/images/work-xrono.png", :alt => "work thumb"} 
  %h4 Xrono 
  .clear
  %ul 
    %li
      Well defined taxonomy for handling a wide range of situations (Clients, Projects, Tickets, Work Units)
    %li 
      Track Off-Time, with options for company and personal time 
    %li
      Real time and daily client updates via email 
    %li
      Robust Invoicing and Payroll systems
    %li
      Comprehensive test suite for
      %a{:href => "https://github.com/isotope11/xrono", :target => "_blank"}continued development
.work_content_left
  %h3{:class => "typeface-js"}
    Xrono 
  %p
    %a{:href => "http://www.xrono.org"} Xrono 
    is a mature, open source, time tracking solution for your business. Developed by Isotope|eleven, Xrono is intended to be a core technology for smooth operation of consultancies. Xrono allows team members to bill time against clients, and then admins to easily export invoices and payroll into their accounting systems. Beyond that, it has vacation time management, overtime, client access and notification, and many more features. Xrono is currently under 
    %a{:href => "https://github.com/isotope11/xrono", :target => "_blank"} active development
    , so feel free to check out our support section if you have any questions.
    
  %p
    %a{:href => "/community"}
      Back to Community 
.clear


